---
permalink: /humans.txt
---

/* TEAM */
	Name: {{ meta.author }}
	Site: {{ meta.url }}
	{% if meta.meta_data.twitter %}Twitter: {{ meta.meta_data.twitter }}{% endif %}
		
/* SITE */
	Doctype: HTML5