---
layout: page.njk
title: Setups
pagination:
  data: newstations
  alias: stations
  reverse: true
  size: 50
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html"
eleventyNavigation:
  key: Setups Gallery
---
<div class="inline-flex my-3 md:my-6">
    {% set links = pagination.href %}
    {% if links.previous %}
    <a class="bg-blue-600 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-l no-underline" href="{{ links.previous }}">👈 Previous 100</a>
    {% else %}
    <a class="bg-gray-300 hover:bg-gray-400 text-gray-500 font-bold py-2 px-4 rounded-l no-underline">👈 Previous 100</a>
    {% endif %}
    {% if links.next %}
        <a class="bg-blue-600 hover:bg-blue-400 text-white font-bold py-2 px-4 rounded-r no-underline" href="{{ links.next }}">Next 100 👉</a>
    {% else %}
        <a class="bg-gray-300 hover:bg-gray-400 text-gray-500 font-bold py-2 px-4 rounded-r no-underline">Next 100 👉</a>
    {% endif %}
</div>
<div class="max-w-auto flex flex-wrap justify-center min-h-screen">
                <div class="inline-block min-w-full shadow rounded-lg overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                                <th
                                    class="px-4 py-3 border-b-2 border-gray-800 bg-gray-600 text-left font-mono font-semibold uppercase tracking-wider text-gray-200">
                                    Setup
                                </th>
                                <th
                                    class="hidden md:table-cell px-4 py-3 border-b-2 border-gray-800 bg-gray-600 text-left font-mono font-semibold text-gray-200 uppercase tracking-wider">
                                    Author
                                </th>
                                <th
                                    class="hidden md:table-cell px-4 py-3 border-b-2 border-gray-800 bg-gray-600 text-left font-mono font-semibold text-gray-200 uppercase tracking-wider">
                                    Date
                                </th>
                                <th
                                    class="hidden md:table-cell px-4 py-3 border-b-2 border-gray-800 bg-gray-600 text-left font-mono font-semibold text-gray-200 uppercase tracking-wider">
                                    Components
                                </th>
                            </tr>
                        </thead>
                        <tbody>
  {% set st = stations %}
  {% for item in st  %}
                            <tr>
                                <td class="px-4 py-2 sm:px-2 sm:py-1 sm:space-x-3 border-b border-gray-200 bg-white text-sm">
                                    <div class="flex items-start">
                                        <div class="flex-none w-32 relative">
                                            <a href="/{{ item.id }}">
                                            <img class="inset-0 w-full h-full object-cover"
                                                src="{{item.thumbnail}}"
                                                class="lazyload" 
                                                alt="{{item.title}}" />
                                            </a>
                                        </div>
                                        <div class="flex flex-wrap sm:ml-4 md:hidden">
                                              <h1 class="flex-auto text-xl font-semibold">
                                                {{item.title}}
                                              </h1>
                                              <div class="font-semibold text-gray-500">
                                                <span class="text-red-600">{{loop.index}}</span> products inside
                                              </div>
                                              <div class="w-full flex-none text-sm font-medium text-gray-500 mt-2">
                                                {{item.date | dateISOtoFormat('DDD') }}
                                              </div>
                                          <div class="flex-auto flex space-x-3 py-3">
                                        <a class="p-2 w-2/3 flex items-center justify-center rounded-md bg-blue-100 text-blue-800 font-semibold" href="/{{item.id}}">Setup Details</a>
                                    </div>          
                                    </div>
                                    </div>
                                </td>
                                <td class="hidden md:table-cell px-4 py-3 border-b border-gray-200 bg-white text-sm">
                                    <a href="https://reddit.com/u/{{item.author}}" target="_blank" rel="noopener noreferrer" class="text-gray-900 no-underline whitespace-no-wrap">{{ item.author }}</a>
                                </td>
                                <td class="hidden md:table-cell px-4 py-3 border-b border-gray-200 bg-white text-sm">
                                    <p class="text-gray-900 whitespace-no-wrap">
                                    {{ item.date }} </p>
                                </td>
                                <td class="hidden md:table-cell px-4 py-3 border-b border-gray-200 bg-white text-sm">
                                    <a  href="/{{item.id}}"
                                        class="no-underline relative inline-block px-4 py-3 font-semibold {{ 'text-gray-900' if item.amz == 0 else 'text-green-600'  }} leading-tight">
                                        <span aria-hidden
                                            class="absolute inset-0 {{ 'bg-gray-200' if item.amz == 0 else 'bg-green-200'  }} opacity-50 rounded-full"></span>
                                        <span class="relative">{{ item.amz | length }} components</span>
                                    </a>
                                </td>
                            </tr>
  {% endfor %}
                        </tbody>
                    </table>
                </div>
</div>
{# 
 
 
 comment that will not be printed 
 

 #}