---
layout: page
title: Setups
pagination:
  data: newstations
  alias: stations
  size: 20
permalink: "/{% if pagination.pageNumber > 0 %}page/{{ pagination.pageNumber }}/{% endif %}index.html"
eleventyNavigation:
  key: Setups Gallery
---
<div class="inline-flex my-3 md:my-6">
    {% set links = pagination.href %}
    {% if links.previous %}
    <a class="border border-black bg-white hover:bg-gray-100 font-bold font-mono py-2 px-4 no-underline" href="{{ links.previous }}">👈 Previous {{pagination.size}}</a>
    {% else %}
    <a class="border border-black hover:bg-gray-100 font-bold py-2 px-4 no-underline font-mono bg-gray-100 text-gray-400">👈 Previous {{pagination.size}}</a>
    {% endif %}
    {% if links.next %}
        <a class="border border-black bg-white hover:bg-gray-100 font-bold py-2 px-4 font-mono no-underline" href="{{ links.next }}">Next {{pagination.size}} 👉</a>
    {% else %}
        <a class="border border-black hover:bg-gray-100 font-bold py-2 px-4 no-underline font-mono bg-gray-100 text-gray-400">Next {{pagination.size}} 👉</a>
    {% endif %}
</div>
<div class="max-w-auto flex flex-wrap justify-center min-h-screen">
                <div class="inline-block min-w-full overflow-hidden">
                    <table class="min-w-full leading-normal">
                        <thead>
                            <tr>
                                <th
                                    class="px-4 py-3 border border-black bg-black text-white text-left font-mono font-semibold uppercase tracking-wider">
                                    Setup
                                </th>
                                <th
                                    class="hidden md:table-cell px-4 py-3 border border-black bg-black text-white text-left font-mono font-semibold uppercase tracking-wider">
                                    Details
                                </th>
                            </tr>
                        </thead>
                        <tbody>
  {% set st = stations %}
  {% for item in st  %}
  {% set products = item.products %}
                            <tr class="border border-black md:border-b bg-white">
                                <td class="px-4 py-2 sm:px-2 sm:py-1">
                                    <div class="flex space-x-4 items-start">
                                        <div class="flex-none w-24 md:w-36 relative md:p-1">
                                            <a href="/{{ item.id }}">
                                            <img class="inset-0 w-full h-full object-cover"
                                                src="{{item.thumbnail}}"
                                                class="lazyload" 
                                                alt="{{item.title}}" />
                                            </a>
                                        </div>
                                        <div class="ml-4 md:hidden flex flex-col space-y-2">
                                              <span>
                                                {{item.title | truncate(70)}}
                                              </span>
                                              <div class="w-full flex-none text-sm text-gray-500 mt-2">
                                                {{item.date | dateISOtoFormat('DDD') }}
                                              </div>
                                          <div class="w-full py-3">
                                                <a class="w-full p-2 rounded font-mono text-sm bg-blue-100 text-blue-800 font-semibold" href="/setup/{{item.id}}">{{ products | length }}</span> products inside</a>
                                        </div>
                                    </div>
                                        <div class="hidden md:flex md:flex-col md:py-2">          
                                              <p class="flex-auto text-gray-700 font-mono font-bold">
                                                {{item.title | truncate(100)}}
                                              </p>
                                              <p class="tracking-wide uppercase text-xs text-gray-500">
                                    {{ item.date | dateISOtoFormat('DDD')}} </p>
                                              </p>
                                        </div>
                                    </div>
                                </td>
                                <td class="hidden md:table-cell px-4 py-3">
                                    <a  href="/setup/{{item.id}}"
                                        class="no-underline relative inline-block font-semibold px-4 py-3 {{ 'text-gray-900' if item.amz == 0 else 'text-green-800'  }}">
                                        <span aria-hidden
                                            class="absolute inset-0 {{ 'bg-gray-200' if item.amz == 0 else 'bg-green-200'  }} opacity-50 rounded"></span>
                                        <span class="relative">See all {{ products | length }} products</span>
                                    </a>
                                </td>
                            </tr>
  {% endfor %}
                        </tbody>
                    </table>
                </div>
</div>