---
permalink: /sitemap.xml
eleventyExcludeFromCollections: true
---
<?xml version="1.0" encoding="utf-8"?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9">
{%- for i in collections.all %}
  {% set absoluteUrl %}{{ meta.url }}{{ i.url | url }}{% endset %}
  <url>
    <loc>{{ absoluteUrl }}</loc>
    <lastmod>{{ i.date | htmlDateString }}</lastmod>
  </url>
{%- endfor %}
	{%- for setup in newstations %}
	{% set setupUrl %}{{ setup.id | absoluteUrl(meta.url+"/setup/") }}{% endset %}
  <url>
    <loc>{{ setupUrl }}</loc>
    <lastmod>{{ setup.date | dateISOtoFormat("yyyy-LL-dd") }}</lastmod>
  </url>
  {%- endfor -%}}
</urlset>